<ActionBar title="My Cart"></ActionBar>
<GridLayout>
    <ListView [items]="productInOrders">
        <ng-template let-item="item">
            <StackLayout>
                <Label class="h2" [nsRouterLink]="['/product', item.package_id]" [text]="item.package_name"></Label>    
                
                <Label class="h4" [text]="'Qty : ' + item.qty"></Label>  
                <Label class="h4" [text]="'Price : ' + item.price"></Label>                           
            </StackLayout>
        </ng-template>
    </ListView>


    <!-- <Label  class="h2"  [text]="totalAmount"></Label>   -->
    <Button [text]="'Check Out'" class="btn btn-primary" (tap)="checkout()"></Button>
</GridLayout> 
  